* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(89, 45, 129, 0.788);
    display: flex; /* Usamos flexbox diretamente no body */
    flex-wrap: wrap; /* Permite que as imagens se ajustem para novas linhas conforme o espaço */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre as divs */
    padding: 20px; /* Espaçamento externo para o body */
    background-image: url(./imagens/imagem-fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    width: 100%;
}

div {
    display: flex;
    flex-direction: column; /* Organiza a imagem em cima e o título embaixo */
    align-items: center; /* Centraliza a imagem e o título dentro de cada div */
    justify-content: flex-start; /* Alinha a imagem no topo e o título embaixo */
    width: 350px; /* Largura fixa das divs */
    height: 500px; /* Altura fixa das divs */
    margin-bottom: 20px; /* Espaçamento abaixo de cada div */
}

img {
    width: 100%;  /* A imagem vai ocupar toda a largura do container */
    height: 80%; /* A imagem vai ocupar 80% da altura da div */
    object-fit: contain; /* A imagem vai se ajustar dentro da div, sem cortar */
    margin-bottom: 10px; /* Espaço entre a imagem e o título */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px; /* A sombra só vai afetar a imagem */
}

li {
    font-size: 30px;
    color: black;
    list-style-type: none;
    margin: 0;
    text-align: center;
}
